*{
    background-color: black;
}

h1{
    color: antiquewhite;
    font-family: Helvetica, sans-serif, Arial;
}

h2{
    color: aqua;
    font-family: Helvetica, sans-serif, Arial;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
}

.white{
    color: white;
}

.coral{
    color: coral;
}

div.contributorBox{
    border: 1px solid white;
    border-radius: 20px;
    padding: 0px 20px;
    margin: 30px 10px;
}